body, html {
    margin:0 auto;
	padding: 0%;
	font-family: 'Montserrat', sans-serif;
	color: var(--text);
	/* background-color: var(--background); */
}

html {
	scroll-behavior: smooth;
}

:root {
	--text: rgb(243, 247, 252);
	--background: rgb(8, 18, 33);
	--primary: rgb(115, 159, 221);
	--secondary: rgb(12, 28, 49);
	--accent: rgb(59, 120, 206);
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: var(--background);
}

body::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 25px;
}

.light-theme {
	--text: rgb(3, 7, 12);
	--background: rgb(222, 232, 247);
	--primary: rgb(49, 110, 196);
	--secondary: rgb(206, 222, 243);
	--accent: rgb(34, 78, 140);
}

.list {
	display: flex;
	flex-direction: row;
	list-style: none;
	font-size: 1.1em;
	font-weight: 600;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px;
    margin: 0px;
	/* background-color: var(--secondary); */
}

.list a {
	text-decoration: none;
	color:rgb(243, 247, 252);
}

.list li {
	padding: 20px;
}

.ClimateCast {
	font-family: 'Berkshire Swash', cursive;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 25px;
	padding: 10px 20px 10px 20px ;
	border-right:3px solid rgb(243, 247, 252);
	border-bottom:3px solid rgb(243, 247, 252);
	border-left:3px solid rgb(243, 247, 252);
	border-radius: 80px;
	/* opacity: 0;
	animation: CC .8s 1 ease;
	animation-delay: 30ms;
	animation-fill-mode: forwards; */
}

/* @keyframes CC {
	0% {
		position: relative;
		top: -50px;
		opacity: 0%;
	}
	100% {
		position: relative;
		top: 0;
		opacity: 100%;
	}
} */

.navbar {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom: 1px solid rgba(243, 247, 252, 0.4);
}

.intro1 h1 {
	margin-bottom: 12px;
	font-size: 3em;
}

.intro1 p {
	text-align: justify;
	color: rgb(243, 247, 252);
	margin: 0px 0px 15px 0px;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 250px;
}

.first-page {
	/* background-color: var(--background); */
	/* height: 100vh; */
	/* max-width: 100%; */
	border-bottom: 1px solid var(--text);
}

.intro1 {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.intro1 p {
	line-height: 30px;
	animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

h1 .incredibly {
	animation: left-right .8s 1 ease;
	animation-fill-mode: forwards;
	color: rgb(243, 247, 252);
}

h1 .user-friendly {
	animation: left-right .8s 1 ease;
	animation-fill-mode: forwards;
	opacity: 0;
	animation-delay: 90ms;
}

@keyframes left-right {
	0% {
		position: relative;
		left: -50px;
		opacity: 0%;
	}
	100% {
		position: relative;
		left: 0;
		opacity: 100%;
	}
}

.user-friendly {
	color: rgb(59, 120, 206);
	font-size: 1.2em;
	text-decoration: underline;
}

.right-img {
	margin-left: auto;
	height: 400px;
}

.Get-Started {
	width: 30%;
	min-width: 150px;
	height: 45px;
	margin-top: 0;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 600;
	border: none;
	border-radius: 10px;
	background-color: rgb(115, 159, 221);
	transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.Get-Started a {
	color: rgb(12, 28, 49);
	text-decoration: none;
}

.Get-Started:hover {
	transform: translateY(-4px);
	color: var(--text);
	background-color: rgb(59, 120, 206);
	box-shadow: 0 0 10px 2px rgba(243, 247, 252, 0.4);

}

.footer-logo {
	width: 50px;
	border-radius: 50%;
	/* margin: 0; */
}

/* ====footer-logos ===== */

.bi {
	margin-right: 10px;
	margin-top: 5px;
}



.main-footer{
	display: grid;
	gap: 1rem;
	grid-template-columns: 40% repeat(2, minmax(200px, 1fr));
	align-items: baseline;
	justify-content: center;
	padding: 30px 0;
}

footer {
	background-color: var(--secondary);
}

.logo-title {
	display: flex;
	align-items: center;
}


.first {
	display: flex;
	flex-direction: column;
	justify-self: center;
	position: relative;
	top: 18.2px;
	padding: 0 200px;
	/* background-color: aqua; */
	/* max-width: 250px; */
	
}

.first-text {
	text-align: justify;
	line-height: 2;
	font-weight: 400;
	
	margin-top: 10px;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: var(--background);
}

.first h1 {
	font-size: 1.5em;
	padding-left: 10px;
	text-decoration:  underline;
	color: var(--accent)
}

.second h1, .third h1 {
	font-size: 1.5em;
	padding-left: 50px;		
	text-decoration:  underline;
	color: var(--accent)
}

.second {
	display: flex;
	flex-direction: column;
	
	/* background-color: yellow; */
}

.second li {
	padding: 15px;
}

.third {
	display: flex;
	flex-direction: column;
	/* background-color: wheat; */
}

.third li {
	padding: 15px;
	list-style: none;
}

.second a, .third a {
	text-decoration: none;
	color: var(--text);
	font-size: 1.1em;
	font-weight: 500;
}

.last-footer {
	text-align: center;
}

.second-page {
	background-color: var(--background);
	display: flex;
	/* position: relative; */
}

.second-page-main {
	font-family: 'Montserrat', sans-serif;
	/* margin-left: 80px; */
	padding: 0px;
	padding-bottom: 15px;
	height: 100vh;
}

/* =============== Vertical Navbar =============== */

.v-navbar {
	width: 80px;
    height: 100vh;
    /* position: fixed; */
    transition: width 200ms ease;
    background-color: var(--secondary);
	border-bottom-right-radius: 20px;
}

.v-navbar-nav {
    padding: 0;
    margin: 0;
	list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-link {
	display: flex;
    align-items: center;
    height: 80px;
    color: var(--accent);
    text-decoration: none;
	filter: grayscale(100%) opacity(.7);
	transition: 200ms ;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background-color: var(--primary);
	color: var(--text);
}

.nav-logo .nav-text {
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.3ch;
}

.nav-logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 16px;
	text-align: center;
	width: 100%;
}

.nav-logo svg {
	min-width: 30px;
	text-align: center;
	margin: 0px 16px 0px 16px;
}


ion-icon {
	min-width: 32px;
	margin: 0 24px;
	font-size: 20px;
}

.nav-text {
	font-size: 15px;
	display: none;
	/* margin-left: 16px; */
	transition: display 1s ease;
}

/* .v-navbar:hover .nav-logo svg {
	transform: translateX(22px);
} */

.v-navbar:hover {
    width: 256px;
}

.v-navbar:hover .nav-text {
    display: inline-block;
}

.nav-item {
	width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}


.search-container {
	margin-top: 20px;
	margin-left: 5px;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	background-color: var(--background);
	/* height: 100vh; */
}

.search-bar {
	display: flex;
	align-items: center;
	border: 2px solid var(--text);
	
	width: 500px;
	padding: 10px;
	border-radius: 30px;
}

.search-input {
	color: var(--text);
	border: none;
	outline: none;
	padding: 5px;
	width: 500px;
	background-color: var(--background);
	font-family: 'Montserrat', sans-serif;
}

.search-icon {
	margin-right: 10px;
}

.grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 20px
}

.current-weather {
	background-color: var(--secondary);
	border-radius: 15px;
}

.top-weather {
	display: flex;
    justify-content: start;
    align-items: center;
	/* border-bottom: 1px solid rgba(243, 247, 252, 0.5); */
	padding: 0;
}

.current-weather h1 {
	font-size: 70px;
	padding-right: 40px;
	margin: 0;
}

.temperature {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.temperature p {
	text-transform: capitalize;
	font-weight: bold;
}

.weather-logo {
	width: 230px;
}

.celcius {
	font-size: 70px;
}

.location {
	background-color: var(--primary);
}

.location li {
	list-style: none;
	padding: 5px;
	color: var(--secondary);
	font-weight: bold;
}

#time {
	font-weight: bold;
}

.top-grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.popular-cities {
	background-color: var(--secondary);
	border-radius: 15px;
}

.popular-cities h1 {
	margin-left: 30px;
	color: var(--accent);
	padding-left: 20px;
	text-decoration: underline;
	text-underline-position: under;
}

.popular-cities li {
	list-style: none;
	padding: 25px;
}

.more-info {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: var(--secondary);
	border-radius: 15px;
}

.more-info h1 {
	margin-left: 30px;
	color: var(--accent);
	padding-left: 20px;
	text-decoration: underline;
	text-underline-position: under;
}

.quality img {
	margin: 0;
	padding: 0;
}

.a-amount {
	color: var(--primary);
	font-size: 18px;
	margin: 0;
}

.a-text {
	font-size: 11px;
	font-weight: 600;
	color: var(grey);
}

.quality {
	display: grid;
	/* gap: 5px; */
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	align-items: center;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.days-forecast {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary);
	border-radius: 15px;
}

.days-forecast h1 {
	margin-left: 30px;
	color: var(--accent);
	padding-left: 20px;
	text-decoration: underline;
	text-underline-position: under;
}

.days-forecast li {
	list-style: none;
	padding: 10px;
}

.bottom-grid {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 2fr;
}

.map {
	margin-top: 20px;
}

.map iframe {
	width: 100%;
	height: 400px;
	border-radius: 15px;
}

.search-btn {
	width: 100px;
	height: 40px;
	margin-left: 20px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 600;
	border: none;
	border-radius: 20px;
	color: var(--secondary);
	background-color: var(--primary);
	transition: all 0.3s ease-in-out ;
  }

  .search-btn:hover {
	background-color: var(--accent);
}

.location-btn {
	background: none;
	border: 0;
	color: var(--background);
	cursor: pointer;
	width: 10px;
	position: relative;
	right: 22px;
}

.location-btn ion-icon {
	background-color: var(--primary);
	border-radius: 100%;;
	padding: 5px 0px;
}

.theme-btn {
	background: none;
	border: 0;
	color: var(--background);
	cursor: pointer;
	width: 10px;
	margin: auto;
}

.theme-btn ion-icon {
	background-color: var(--primary);
	border-radius: 100%;;
	padding: 5px 0px;
}

.quick-links ul {
	list-style: none;
}

.f-values ul {
	margin: 0px;
}

.values {
	display: flex;
}

.values li {
	padding: 0px;
}

.values h4 {
	margin: 14px auto;
	font-weight: 100;
}

.f-values, .f-heading {
	padding: 0;
}

.f-heading h4 {
	text-transform: uppercase;
	font-weight: 800;
}

.f-heading h4:nth-child(1) {
	position: relative;
	left: 13px;
}

.f-heading h4:nth-child(2) {
	position: relative;
	left: 35px;
}

.f-heading h4:nth-child(3) {
	position: relative;
	left: 42px;
}

.f-heading h4:nth-child(4) {
	position: relative;
	left: 25px;
}

.main-svg {
	height: 350px;
}

.f-list2 {
	display: flex;
	justify-content: space-between;
}

.f-list2 ul {
		list-style: none;
		padding: 0;
		margin: 0 30px;
}

.f-list2 li {
	padding: 18px 0px;
}

.f-list2 ul li:first-of-type {
    text-transform: uppercase;
}

.back-video {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
	.back-video {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	.back-video {
		width: auto;
		height: 100%;
	}
}

.image-overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(8, 18, 33,0.6)
}

.blur-overlay {
	filter: blur(5px);
}